*{
  color: #3c2f2f;
}

.answer_check,
.final_message{
  color: #a93f3b;
}

.answer_provided,
.final_message--score,
 .main_title{
color: #0c96a2;
  font-weight: bold;
}

.answer_provided,
.answer_check,
.final_message--score,
.final_message
 {
  text-align: center;
}
