
.button_group__wrapper {
  padding-top: 50px;
}

.button_group__wrapper a {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.side_button a{
  width: calc(50% - 5px);
  float: left;
  box-sizing: border-box;
  margin-right: 10px;
}
.side_button a:nth-child(2n){
margin-right: 0;
}
